[Unit]
Description=Authentication and Authorization service for RRMS
After=network.target

[Service]
ExecStart=/usr/bin/rrms-authorization
User=rrms
Group=rrms

[Install]
WantedBy=multi-user.target

