[Unit]
Description=Employee Management service for RRMS
Requires=mariadb.service valkey.service
After=mariadb.service valkey.service

[Service]
ExecStart=/usr/bin/rrms-authorization
User=rrms
Group=rrms

[Install]
WantedBy=multi-user.target

